.items_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 150px;
  justify-content: center;
  align-items: center;
justify-items: center;
padding-top:0;
padding-bottom: 0;

}


.gridgeading {
   padding: 50px;
   padding-left: 150px;
   font-size: 30px;
}

.character-item {
  line-height: 19px;
  margin: 14px;
  width: 390px;
  max-height: 200px;
  font-family: Open Sans Condensed;
  transition: 0.4s linear;
  
 
  background-color: black;
  
}

.imgs {
  object-fit: contain;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;

  min-height: 150px;
  padding-bottom: 15px;
  padding-left: 170px;
}

.name {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 16px;
  font-family: Arial;
  padding-top: 5px;
}

.status {
  color: rgb(214, 214, 214);
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 3px;
}

.loc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8px;
  color: rgb(214, 214, 214);
  font-size: 13px;
  align-items: end
}

.criteria {
  color: #777777;
  font-size: 13px;
  padding-left: 0;
  display: flex;
}


.navigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-navigation{
  padding: 10px 40px;
  margin: 30px;
  color: #fff;
  background-color: black;
  font-size: 18px;
  font-weight: bold;
justify-content: center;
  align-items: center;
}